<div class="container">
  <div class=".col-xs-12 .col-sm-6 .col-lg-8">
    <div class="map jumbotron">
    <div id="map">
      <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=12&size=250x180&style=element:labels|&style=element:geometry.stroke|&markers=size:mid%7Cco925880lor:red%7C37.9761067,23.7307423">
    </div>

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlZa58C3eaMA48iUo0bsiWvu9GStJiHio&callback=initMap">
    </script>
      </div>
     </div>
    </div>