<div class="container">
  <div class=".col-xs-12 .col-sm-6 .col-lg-8">
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Καλώς ήρθες στο deliverynet.gr</h2>
      </div>
      <div class="modal-body">
        <%= render "partials/form" %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Παράγγειλε On line</h1>
                        <h3>Delivery Σουβλάκια, Πίτσα, Ψητά, Κρέατα, Σάντουιτς και οχι μόνο</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <div class="intro-header1">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Delivery Γνωστών Αλυσίδων</h1>
                        <h3>Goody's  Παππού  Pizza Fun  Roma Pizza .Οι αγαπημένες σας γευσεις ένα κλικ μακρυά </h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</div>
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
